body {
        background: #FFF8DC;
        min-height: 100vh;
        padding: 20px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #f0f0f0;
        
}

.gradient-header{ 
        background: linear-gradient(135deg, #a68a64, #835845, #3c3f38);   
}

.main-card{
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        overflow: hidden;
}

.btn-icon {
        font-size: 1.2rem;
}

.btn-success{
        --bs-btn-bg: #835845;
        --bs-btn-border-color: #835845;
        --bs-btn-hover-bg: #a68a64;
        --bs-btn-hover-border-color: #a68a64;

}
 
.pagination-controls {
        background: #f8f9fa;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 20px;
}

.custom-pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        padding: 15px;
        background: #f8f9fa;
        border-radius: 8px;
}
.custom-pagination button{
        min-width: 40px;        
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
        display: none !important;
}



#authorsTable thead.table-dark th {
    background-color: #9e8155 !important;
        border-color: #7a6644 !important;
    color: #ffffff; ;            /* White text for contrast */
}



#authorsTable th:nth-child(2),
#authorsTable td:nth-child(2) {
    white-space: nowrap;      /* Prevents text from wrapping */
    overflow: hidden;          /* Hides overflow text */
    text-overflow: ellipsis;   /* Shows "..." for overflow */
    max-width: 150px;          /* Sets maximum width */
}

#authorsTable th:nth-child(3),
#authorsTable td:nth-child(3) {
    text-align: left;        
    white-space: nowrap;       /* Prevents text from wrapping */
    overflow: hidden;          /* Hides overflow text */
    text-overflow: ellipsis;   /* Shows "..." for overflow */
    max-width: 150px;          /* Sets maximum width */
    vertical-align: middle;    /* Vertically centers */
}

/* Add space between Edit and Delete buttons */
#authorsTable .btn{
        
        margin: 5px;/* Space below buttons for small screens */
}

.btn-warning{
        --bs-btn-bg: #f79f57;
        --bs-btn-border-color: #f79f57;
        --bs-btn-hover-bg: #e6732a;
        --bs-btn-hover-border-color: #e6732a;

}

.btn-danger{
        --bs-btn-bg: #f79f57;
        --bs-btn-border-color: #f79f57;
        --bs-btn-hover-bg: #e6732a;
        --bs-btn-hover-border-color: #e6732a;

}

.modal-header {
    border-bottom: none;       /* Remove bottom border */
}

