body {
        background: #FFF8DC;
        min-height: 100vh;
        padding: 20px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #f0f0f0;
        
}

.gradient-header{ 
        background: #3f8a6f;   
}

.main-card{
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        overflow: hidden;
}

.btn-icon {
        font-size: 1.2rem;
}

.btn-success{
        --bs-btn-bg: #2e6f54;
        --bs-btn-border-color: #2e6f54;
        --bs-btn-hover-bg: #5ab290;
        --bs-btn-hover-border-color: #5ab290;

}
 
.pagination-controls {
        background: #f8f9fa;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 20px;
}

.custom-pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        padding: 15px;
        background: #f8f9fa;
        border-radius: 8px;
}
.custom-pagination button{
        min-width: 40px;        
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
        display: none !important;
}



#authorsTable thead.table-dark th {
    background-color: #283b48 !important;
        border-color: #10171b !important;
    color: #ffffff; ;            /* White text for contrast */
}



#authorsTable th:nth-child(2),
#authorsTable td:nth-child(2) {
    white-space: nowrap;      /* Prevents text from wrapping */
    overflow: hidden;          /* Hides overflow text */
    text-overflow: ellipsis;   /* Shows "..." for overflow */
    max-width: 150px;          /* Sets maximum width */
}

#authorsTable th:nth-child(3),
#authorsTable td:nth-child(3) {
    text-align: left;        
    white-space: nowrap;       /* Prevents text from wrapping */
    overflow: hidden;          /* Hides overflow text */
    text-overflow: ellipsis;   /* Shows "..." for overflow */
    max-width: 150px;          /* Sets maximum width */
    vertical-align: middle;    /* Vertically centers */
}

/* Add space between Edit and Delete buttons */
#authorsTable .btn{
        
        margin: 5px;/* Space below buttons for small screens */
}

.btn-warning, .btn-danger {
        --bs-btn-bg: #9dd6b2;
        --bs-btn-border-color: #9dd6b2;
        --bs-btn-hover-bg: #7cc4a2;
        --bs-btn-hover-border-color: #7cc4a2;

}

.modal-header {
    border-bottom: none;       /* Remove bottom border */
}

